<!DOCTYPE html>

<html><head>        <meta charset="UTF-8">
                    <title>-最诚信的服务交易平台-抢帮网触屏版</title>
                <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="shortcut icon" href="http://s.zbjimg.com/img/favicon.ico" type="image/x-icon">
        <!-- /供app使用的页面标题 -->
        <meta name="web-site" content="-最诚信的服务交易平台-抢帮网触屏版">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="抢帮网是兼职行业最诚信服务的交易平台，拥有超过1000万人才，优秀的公司团队，提供最具创意的服务，抢帮网，为天下人提供诚信服务。">
        <meta name="keywords" content="兼职，，兼职，抢帮网">
        <meta name="wap-font-scale" content="no">
        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">try {
window.AG_onLoad = function(func) { if (window.addEventListener) { window.addEventListener('DOMContentLoaded', func); } };
window.AG_removeElementById = function(id) { var element = document.getElementById(id); if (element && element.parentNode) { element.parentNode.removeChild(element); }};
window.AG_removeElementBySelector = function(selector) { if (!document.querySelectorAll) { return; } var nodes = document.querySelectorAll(selector); if (nodes) { for (var i = 0; i < nodes.length; i++) { if (nodes[i] && nodes[i].parentNode) { nodes[i].parentNode.removeChild(nodes[i]); } } } };
window.AG_each = function(selector, fn) { if (!document.querySelectorAll) return; var elements = document.querySelectorAll(selector); for (var i = 0; i < elements.length; i++) { fn(elements[i]); }; };
var AG_removeParent = function(el, fn) { while (el && el.parentNode) { if (fn(el)) { el.parentNode.removeChild(el); return; } el = el.parentNode; } };
} catch (ex) { console.error('Error executing AG js: ' + ex); }</script></head><body class="mobile-page"><input type="hidden" id="t6StaticHost" value="t6.zbjimg.com">
        <script>
            /*MonitorHD*/
            (function(w,d,m){
            w[m]=w[m]||function(){(w[m].q=w[m].q||[]).push(arguments)}, w[m].r = +new Date;
            })(window,document,"MonitorHD");

            window.monitorConfig = {
                product: 'mzbj'
            };
        </script>
                                                                <script type="text/javascript">
            window.frontEndHost = 'm.zbj.com';
            window.domainURLHost = 'm.zbj.com'; //解决商机中引了birdge导致frontEndHost被重写
            window.iapiURL = 'i.api.zbj.com';
            window.wxURL="weixin.zbj.com";
            window.REQUEST_SOURCE = "wap";
            window.appURL =  'app.zbj.com';
            MonitorHD.sh = +new Date;
        </script>
    <link rel="stylesheet" type="text/css" href="/view/staticwap/css/widget/pkg.css"><link rel="stylesheet" type="text/css" href="/view/staticwap/css/page/index.css"><link rel="stylesheet" type="text/css" href="/view/staticwap/css/page/index-zscq.css">                                        	<div class="top-bar ">
	    <div class="go-back"><button class="btn_back"></button></div>
	    <h1>主页</h1>
	    <div class="nav">
		    <button class="more-action" data-linkid="100010825"></button>
		    <ul class="nav-menu">
		        <li class="item item-1 btn-press-down"><a href="/" data-linkid="100010826"><i></i>首页</a></li>
		        <li class="item item-2 btn-press-down"><a href="/search" data-linkid="100010827"><i></i>分类</a></li>
		        <li class="item item-3 btn-press-down"><a href="/user/me" data-linkid="100010828"><i></i>我的</a></li>
		        <!-- <li class="item item-4"><a href="/search" class="btn-press-down" data-linkid="100010829"><i></i>搜索</a></li> -->
		    </ul>
		</div>
	</div>
<div class="wx-top hide">
	<a>点我关注“抢帮网”优惠享不停</a>
	<i class="iconfont icon-close"></i>
</div>			            <!-- wap -->
            <div class="grid">
    <style>
        #pullDown {
            display: none;
        }
        .top-bar {
            display: none;
        }

        .mobile-page {
            padding-top: 0;
        }

        .bottom-nav {
            display: none;
        }
    </style>
    <header class="idx-head">
        <h1 class="idx-logo">抢帮</h1>
    </header>
    <nav class="idx-nav">
        <a class="idx-nav-menu" data-linkid="10022895" href="/search">
            <i class="nav-search-icon"></i><span>分类</span>s
        </a>
        <a class="idx-nav-menu" data-linkid="10022896" href="/user/me">
            <i class="nav-user-icon"></i><span>我的</span>
        </a>
        <a class="idx-nav-btn btn-press-down" data-linkid="10022897" href="/chance/toZscqPub?from=2">发布需求</a>
    </nav>
    <div>
        <img src="http://m.zbjimg.com/j-mobile/static/image/page/index-zscq/idx-zscq-topimg.jpg" alt="" width="100%"><!--这里是一个静态图片-->
    </div>
    <form id="shangjiForm" action="javascript:void(0);">
       <div class="idx-zscq-xuqiu">
           <h2>找设计、推广、开发、策划...填一填试试</h2>
       <div id="inputService" class="">
           <div class="idx-text-warp"><label>我需要</label><div class="idx-text-div"><input type="text" placeholder="LOGO设计、商标注册、网店推广..." class="idx-text" maxlength="30" name="note" value="" data-linkid="10022845"></div></div>
           <div class="sel-requirement" id="selServiceDiv" style="transform-origin: 0px 0px 0px; opacity: 0; transform: scale(0, 0); display: none;">
               <h3>您也可以选择以下服务</h3>
              <div class="swiper-container js-swiper-service swiper-container-horizontal">
                  <div class="swiper-wrapper">
                                                                                                          <ul class="swiper-slide swiper-slide-active" style="width: 590px;">

                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022848">设计服务</a>



                                                                  <a class="float-three" data-linkid="10022849">营销推广</a>



                                                                  <a class="float-three" data-linkid="10022850">网店服务</a>
                                                              </li>



                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022851">开发服务</a>



                                                                  <a class="float-three" data-linkid="10022852">文案策划</a>



                                                                  <a class="float-three" data-linkid="10022853">动漫影音</a>
                                                              </li>



                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022854">装修服务</a>



                                                                  <a class="float-three" data-linkid="10022855">工程设计</a>



                                                                  <a class="float-three" data-linkid="10022856">游戏服务</a>
                                                              </li>

                                                                </ul>

                                                                                    <ul class="swiper-slide swiper-slide-next" style="width: 590px;">

                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022857">工业设计</a>



                                                                  <a class="float-three" data-linkid="10022858">真人服务</a>



                                                                  <a class="float-three" data-linkid="10022859">调查咨询</a>
                                                              </li>



                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022860">企业服务</a>



                                                                  <a class="float-three" data-linkid="10022861">商标注册</a>



                                                                  <a class="float-three" data-linkid="10022862">代理记账</a>
                                                              </li>



                                                              <li class="clearfix">
                                                                  <a class="float-three" data-linkid="10022863">法律咨询</a>



                                                                  <a class="float-three" data-linkid="10022864">高端设计</a>



                                                                  <a class="float-three" data-linkid="10022865">移动电商</a>
                                                              </li>

                                                                </ul>


                  </div>
                  <div class="swiper-pagination js-swiper-pagination-service swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
              </div>
           </div>
       </div>
         <div id="inputPhoneNum" class="">  <div class="idx-text-warp"><label>手机号</label><div class="idx-text-div"><input type="tel" placeholder="方便得到及时服务，仅官方可见" class="idx-text" maxlength="11" name="tel" value="" data-linkid="10022846"></div></div></div>
           <input type="hidden" name="source" value="80">
           <input type="hidden" name="basecat3" value="1420">
           <p class="col9a tc">近一个月已有<em class="colskin">88256</em>人成功解决需求</p>
           <input type="submit" class="idx-btn " value="马上为我服务" id="iptSubmit" data-linkid="10022847">
       </div>
    </form>
    <ul class="idx-zscq-feature clearfix">
        <li>
            <h3><i class="idex-zscq-clock"></i>极速响应</h3>
            <p>工作日9:00-18:00<br>10分钟极速响应</p>
        </li>
        <li>
            <h3><i class="idex-zscq-appointment"></i>预约上门</h3>
            <p>可预约本地服务商<br>上门提供服务</p>
        </li>
        <li>
            <h3><i class="idex-zscq-supervision"></i>官方监管</h3>
            <p>服务价格透明<br>质量有保障</p>
        </li>
    </ul>






                <ul class="idx-category clearfix">
                            <li>
                    <a data-linkid="10022866" href="http://m.zbj.com/activity/channel/wlyx">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010706.png" width="48" height="48" alt="营销推广">
                        <p>营销推广</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022867" href="http://m.zbj.com/activity/channel/pmsj">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010705.png" width="48" height="48" alt="品牌设计">
                        <p>品牌设计</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022868" href="http://m.zbj.com/activity/channel/wach">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010707.png" width="48" height="48" alt="开发建站">
                        <p>开发建站</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022869" href="http://m.zbj.com/activity/channel/zxsj">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016021801.png" width="48" height="48" alt="装修设计">
                        <p>装修设计</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022870" href="http://m.zbj.com/activity/channel/wscyz">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010701.png" width="48" height="48" alt="创业者必备">
                        <p>创业者必备</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022871" href="http://m.zbj.com/activity/wach/?type=15&amp;title=%E6%96%87%E6%A1%88%E7%AD%96%E5%88%92&amp;spid=20">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010702.png" width="48" height="48" alt="文案策划">
                        <p>文案策划</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022872" href="http://m.zbj.com/activity/wach/?type=14&amp;title=%E7%94%B5%E5%95%86%E6%9C%8D%E5%8A%A1&amp;spid=17">
                        <img src="http://cms.zbjimg.com/mobile/icon/410/2016010703.png" width="48" height="48" alt="电商服务">
                        <p>电商服务</p>
                    </a>
                </li>
                                            <li>
                    <a data-linkid="10022873" href="http://m.zbj.com/activity/pftl-index">
                        <img src="http://cms.zbjimg.com/mobile/sportspic2/2016022302.jpg" width="48" height="48" alt="八戒特惠">
                        <p>八戒特惠</p>
                    </a>
                </li>
                                    </ul>




                <div class="idx-model model-four">
                            <h2 class="idx-model-title">特惠
                                </h2>
                        <ul class="idx-model-body">
                                    <li>
                        <a href="http://app.zbj.com/sports/tiny/?item=cdj" data-linkid="10022874">
                            <img src="http://cms.zbjimg.com/mobile/sportspic2/201603021924.jpg">
                        </a>
                    </li>
                                                        <li>
                        <a href="http://m.zbj.com/activity/foolsday-baokuan" data-linkid="10022875">
                            <img src="http://cms.zbjimg.com/mobile/sportspic2/2016042609.jpg">
                        </a>
                    </li>
                                                        <li>
                        <a href="http://m.zbj.com/shop/11498807/sid-651490.html" data-linkid="10022876">
                            <img src="http://cms.zbjimg.com/mobile/sportspic2/2016050321.jpg">
                        </a>
                    </li>
                                                        <li>
                        <a href="http://app.zbj.com/sports/tiny/?item=bjthdyb" data-linkid="10022877">
                            <img src="http://cms.zbjimg.com/mobile/sportspic2/2016051024.jpg">
                        </a>
                    </li>
                                                </ul>
        </div>





                <div class="idx-model model-three">
                            <h2 class="idx-model-title">官方自营
                                </h2>
                                                    <ul class="idx-model-body">
                                                                        <li>
                                <a href="http://zt.ipr.zbj.com/m/sbcx?_union_identify=14&amp;_union_uid=14169719&amp;_union_itemid=139004" data-linkid="10022878">
                                    <img src="http://cms.zbjimg.com/mobile/sportspic2/2016051015.jpg">
                                </a>
                            </li>
                                                                                                                            <li>
                                <a href="http://m.zbj.com/shop/12189285/sid-632959.html" data-linkid="10022879">
                                    <img src="http://cms.zbjimg.com/mobile/sportspic2/2016031010.png">
                                </a>
                            </li>
                                                                                                                            <li>
                                <a href="http://m.zbj.com/shop/13202473/sid-726357.html?=zbjc_gfzy" data-linkid="10022880">
                                    <img src="http://cms.zbjimg.com/mobile/sportspic2/3E58886E59BBE367C397430-E4BBA3E79086E8AEB0E8B4A6.jpg">
                                </a>
                            </li>
                                                                                        </ul>
                    </div>









        <script src="http://m.zbjimg.com/j-mobile/static/js/plugin/first-screen-time.js"></script>
        <div class="idx-model model-one" id="hotService">
        <h2 class="idx-model-title">热门服务</h2>
        <div class="clearfix tc idx-zscq-rmfw">
                        <li class="float-three"><a href="/search/searchbykey?keyword=软文写作" data-linkid="10022866">软文写作</a></li>
                                   <li class="float-three"><a href="http://zt.ipr.zbj.com/m/sbxz" data-linkid="10022866">商标担保注册</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=LOGO设计" data-linkid="10022866">LOGO设计</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=装修设计" data-linkid="10022866">装修设计</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=Android开发" data-linkid="10022866">Android开发</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=淘宝推广" data-linkid="10022866">淘宝推广</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=广告语" data-linkid="10022866">广告语</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=微信推广" data-linkid="10022866">微信推广</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=QQ群推广" data-linkid="10022866">QQ群推广</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=取名" data-linkid="10022866">取名</a></li>
                                   <li class="float-three"><a href="/search/searchbykey?keyword=网店装修" data-linkid="10022866">网店装修</a></li>
                                   <li class="float-three"><a href="http://zt.ipr.zbj.com/m/sjzc" data-linkid="10022866">商标注册+设计</a></li>
                               </div>
    </div>
        <div class="idx-zscq-tipdiv" id="hasWork" style="display: none;">
       <div class="hr"></div>
      <em>他们的需求都已圆满解决</em>
    </div>
    <ul class="idx-zscq-infolist">
        <!--<li>-->
            <!--<div class=" rel p10">-->
                <!--<div class="clearfix rel"><img src="/static/image/widget/face-default.png" alt="" class="img">-->
                 <!--<div class="list-title"><span class="mr5">boluo1112</span>在<time>14</time>分钟前得到了解决方案</div>-->
                 <!--<i class="same-city">同城</i>-->
                <!--</div>-->
                <!--<p class="list-info">需要一个饮料的包装设计，要求简洁大方。</p>-->
            <!--</div>-->
           <!--<ul class="idx-zscq-feature clearfix">-->
            <!--<li>200元</li>   <li>127人参与</li>   <li>招标</li>-->
           <!--</ul>-->
        <!--</li>-->

    </ul>
    <div class="idx-model tc col8b" id="load-more" data-linkid="10022894" style="display: none;">查看更多成功案例</div>
    <div class="data-loading-status idx-model tc " style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); display: none;">努力加载中...</div>
    <div id="no-data-status" class="idx-model tc col8b" style="display: none">没有更多数据</div>

    <!--<div>-->
        <!--<ul class="idx-zscq-downapp">-->
            <!--<li>-->
                <!--<div class="clearfix rel"><i class="imgapp-zbj"></i>-->
                    <!--<a class="downapp r">立即下载</a>-->
                    <!--<div class="list-title"><h2>手机抢帮APP</h2>八戒特惠手机专享5折抢</div>-->

                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="clearfix rel"><i class="imgapp-dp"></i>-->
                    <!--<a class="downapp r">立即下载</a>-->
                    <!--<div class="list-title"><h2>手机抢帮APP</h2>八戒特惠手机专享5折抢</div>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <script id="tpl" type="text/template">
        {@each data as item, index}
        <li>
            <a href="/task/${item.taskId}/"  data-linkid="10022893">
                <div class=" rel p10">
                    <div class="clearfix rel"><img src="${item.face}" onerror="javascript:this.src='http://m.zbjimg.com/j-mobile/static/image/widget/face-default.png'" alt="" class="img">
                        <div class="list-title"><span class="mr5">${item.nickName}</span>   <!--在<time>${item.time}</time>分钟前得到了解决方案--></div>
                        <i class="same-city">同城</i>
                    </div>
                    <p class="list-info">${item.title}</p>
                </div>
                <ul class="idx-zscq-feature clearfix">
                    <li>${item.amount}元</li>   <li>${item.peopleCount}人参与</li><li>${item.taskType}</li>
                </ul>
            </a>
        </li>
        {@/each}

    </script>
        <footer class="idx-footer">
        <div class="idx-status clearfix">
            <div class="idx-entry">
                                <a href="/user/tologin">登录</a>
                <span>|</span>
                <a href="/user/toreg" class="idx-register">注册</a>             </div>
            <a class="idx-top">回到顶部</a>
        </div>
                <div class="idx-site">
            <a class="idx-app" href="http://m.zbj.com/qrcode/scan/app" data-linkid="10006686">
                <i></i>
                <p>客户端</p>
            </a>
            <a class="idx-weixin" href="/weixin/single/getDiversion" data-linkid="10017015">
                <i></i>
                <p>微信版</p>
            </a>
            <a class="idx-mobile active" href="http://m.zbj.com" data-linkid="10006687">
                <i></i>
                <p>触屏版</p>
            </a>
            <a class="idx-pc" href="http://www.zbj.com/index.php?from=wap" data-linkid="10006688">
                <i></i>
                <p>电脑版</p>
            </a>
        </div>
        <div class="idx-copyright">
            ©2005-2016 zbj.com 渝ICP备10202274-1<br>
            重庆抢帮威玛科技有限公司<br>
            023-61690100
        </div>
            </footer>
</div>
        <script type="text/javascript" src="/view/staticwap/vendor/seajs/2.3.0/sea.js"></script><script type="text/javascript" src="http://m.zbjimg.com/libs/storage.js"></script><script type="text/javascript" src="/view/staticwap/js/sea.config.js"></script><script type="text/javascript" src="/view/staticwap/js/page/index.js"></script><script type="text/javascript" src="/view/staticwap/js/page/index-zscq.js"></script>    <script>
    MonitorHD.sd = +new Date;
</script>
<script type="text/javascript" src="http://t6.zbjimg.com/components/sai/seer/seer.js"></script>

<script type="text/javascript" src="http://t5.zbjimg.com/t5s/output/common/js/count.js?t=1463408670809"></script></body></html>